<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adsdk.demo">

    <uses-sdk tools:overrideLibrary="com.analytics.sdk,lab.galaxy.yahfa,com.analytics.sdk.common,com.analytics.sdk.core,com.analytics.sdk.core.java" />
    <!-- SDK 相关声明 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 测试 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="${APPNAME}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feedlist.ReaderPageActivity"
            android:configChanges="keyboardHidden|layoutDirection|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TitleTheme">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity android:name=".splash.SplashActivity" />
        <activity android:name=".splash.SplashSkipViewActivity" />
        <activity android:name=".banner.BannerActivity" />
        <activity android:name=".interstitial.InterstitialActivity" />
        <activity android:name=".video.RewardVideoActivity" />
        <activity android:name=".video.FullScreenVideoActivity" />
        <activity android:name=".feedlist.FeedListActivity" />
        <activity android:name=".feedlist.FeedListMultiActivity" />
        <activity android:name=".feedlist.FeedListNativeRecylerViewImplActivity" />
        <activity android:name=".feedlist.FeedListTopTextActivity" />
        <activity android:name=".feedlist.FeedListBigIconActivity" />
        <activity android:name=".feedlist.TestFeedListLeftIconActivity" />
        <activity android:name=".feedlist.FeedListVideoActivity" />
        <activity android:name=".feedlist.FeedListVideoDevContainerRenderActivity" />
        <activity
            android:name=".common.DevMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!-- 广点通 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path"
                tools:replace="name,resource" />
        </provider>

        <!-- 百度 相关的配置 -->
        <activity
            android:name="com.baidu.mobads.production.rewardvideo.MobRewardVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.baidu.mobads.openad.BdFileProvider"
            android:authorities="${applicationId}.bd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/bd_file_paths"
                tools:replace="name,resource" />
        </provider>


        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".feedlist.TestFeedListTemplateActivity" />

        <!--  👇 👇  CSJ 相关的配置  👇 👇   -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <!--  👆 👆   CSJ 相关的配置  👆  👆    -->
    </application>

</manifest>
